body {
    font-family: work sans;
}

header {
    
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
.text-color {
    color: #727272;
    font-size: 1rem;
    font-weight: 400;

}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 35px;
    font-weight: 500;
    font-size: 1rem;

}

nav li>a {
    text-decoration: none;
    color: #424242;
    font-size: 18px;
    font-weight: 500;
}

.banner-content {

    text-align: center;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
}

.banner-title {
    color: #131313;
    font-size: 4rem;
    font-weight: 700;

}



.btn-primary {
  width: 180px;
    height: 64px;
    border-radius: 8px;
    background: #FF900E;
    border: none;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 600;


}

.banner img {
    margin-top: 20px;
    width: 100%;
}


/*
main style
*/
main{
    max-width: 1440px;
    margin: 70px auto;
}
.team{
    display: flex;
    align-items: center;
}
.team-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.3rem;
}
.team-title{
    font-size: 45px;
}
.team-data{
    padding-right: 75px;
    padding-left: 75px;
}
.facts-card{
    display: flex;
    justify-content: space-between;
}
.card{
    border-radius: 8px;
border: 1px solid #FF900E;
width: 241.831px;
height: 241.831px;
text-align: center;
padding: 20px 10px;

}
#fact-title{
    margin-bottom: 24px;
    padding-bottom: 0px;
}
#width{
    
    margin-bottom: 100px;
    
}
.card-stats{
    font-size: 2.7rem;
    color: #424242;
    margin: 20px 10px;
}
.card-title{
    color: #727272;
font-size: 20px;
font-weight: 600;
}

.sponsors{
    text-align: center;
}
.sponsors-img{
    display: flex;
    justify-content:space-between ;
    margin-top: 40px;
    gap: 20px;
    align-items: center;
}
.sponsors-img img{
    width: 153px;
    height: 50px;
   
}
/*
responsive
*/

@media  only screen and (max-width: 576px) {
    header {
        padding: 20px;
    }
nav,
.team
{
    flex-direction: column;
}
.team-img{
    grid-template-columns: 1fr;
}
.facts-card{
    flex-direction: column;
    gap: 20px;
    padding: 0px 20px;
  
}
.sponsors-img{
    flex-direction: column;
  
}
    
}